@charset "utf-8";
@import '../variable';

.content_layout {
  height: 100vh;
  position: relative;
  .content_layoutL {
    position: absolute;
    z-index: 1;
    top: 0;
    left: -230px;
    width: 230px;
    border-right: 1px solid $blue04;
    height: 100%;
    transition: 0.44s;
  }
  .content_layoutR {
    height: 100%;
    background: #f3f4f3;
    transition: 0.44s;
  }
  &.active {
    .content_layoutL {
      left: 0;
    }
    .content_layoutR {
      margin: 0 0 0 230px;
    }
  }
}

.lnb {
  position: relative;
  height: 100%;
  .lnb_toggle {
    position: absolute;
    top: 0px;
    right: -50px;
    width: 50px;
    height: 50px;
    border-right: 1px solid #c6d5de;
    border-bottom: 1px solid #c6d5de;
    box-shadow: 7px 1px 8px -4px #aaa;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2px;
      height: 2px;
      margin: -1px 0 0 -1px;
      background: transparent;
      border-radius: 40px;
      transition: 0.22s ease;
      opacity: 0.2;
    }
    &:hover {
      &:before {
        margin: -20px 0 0 -20px;
        width: 40px;
        height: 40px;
        background: #0080cc;
        transform: rotate(0.001deg);
      }
      .svg {
        .line {
          stroke: #0080cc;
          transform: rotate(0.001deg);
        }
      }
    }
    .svg {
      position: absolute;
      top: 5px;
      left: 5px;
      -webkit-tap-highlight-color: transparent;
      transition: transform 400ms;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border-radius: 40px;
      transition: 0.22s ease;
      .line {
        fill: none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke: #000;
        stroke-width: 5.5;
        stroke-linecap: round;
        transition: 0.44s ease;
      }
      .top {
        stroke-dasharray: 40 82;
      }
      .bottom {
        stroke-dasharray: 40 82;
      }
    }
    &.active {
      .svg {
        transform: rotate(180deg);
        .top {
          stroke-dasharray: 14 82;
          stroke-dashoffset: -72px;
        }
        .bottom {
          stroke-dasharray: 14 82;
          stroke-dashoffset: -72px;
        }
      }
    }
  }
  .lnb_inner {
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    .lnb_box {
      padding: 15px 0;
      position: relative;
    }
    nav {
      button {
        border-radius: 4px;
        transition: 0.33s ease;
        &:after {
          transition: 0.33s ease;
          transform: rotate(-90deg);
        }
        &:hover {
          background: #e0f3ff;
          color: #36468b;
        }
        &.active {
          background: #e0f3ff;
          color: #36468b;
          &:after {
            transform: rotate(0deg);
          }
        }
      }
      margin: 0 15px;
      > ul {
        > li {
          margin: 10px 0 0 0;
          &:first-child {
            margin: 0;
          }
          > button {
            position: relative;
            width: 100%;
            padding: 5px 20px 5px 10px;
            text-align: left;
            font-size: 16px;
            font-weight: 600;
            color: $purple03;
            &:after {
              content: '';
              position: absolute;
              top: 10px;
              right: 10px;
              width: 16px;
              height: 16px;
              background: url('#{$appPath}/icon/icon_top_arrow.png') no-repeat;
            }
          }

          > ul {
            display: none;
            margin: 10px 0 0 0;
            &.active {
              display: block;
            }
            > li {
              > button {
                position: relative;
                width: 100%;
                padding: 5px 20px 5px 10px;
                text-align: left;
                font-size: 14px;
                font-weight: 600;
                color: $black01;
                color: #000;
                &:after {
                  content: '';
                  position: absolute;
                  top: 8px;
                  right: 10px;
                  width: 16px;
                  height: 16px;
                  background: url('#{$appPath}/icon/icon_top_arrow.png')
                    no-repeat;
                }
              }
              > ul {
                display: none;
                margin: 10px 0 5px 10px;
                position: relative;
                &.active {
                  display: block;
                }
                > li {
                  > button {
                    padding: 4px 10px;
                    position: relative;
                    width: 100%;
                    line-height: 19px;
                    font-size: 13px;
                    font-weight: 600;
                    text-align: left;
                    color: #222;
                    &:after {
                      content: '';
                      position: absolute;
                      top: 6px;
                      right: 5px;
                      width: 16px;
                      height: 16px;
                      background: url('#{$appPath}/icon/icon_top_arrow.png')
                        no-repeat;
                    }
                  }
                  > ul {
                    position: relative;
                    display: none;
                    margin: 10px 0 5px 0;
                    padding: 0 0 0 25px;
                    &.active {
                      display: block;
                    }
                    &:before {
                      content: '';
                      position: absolute;
                      top: 10px;
                      left: 15px;
                      bottom: 10px;
                      width: 3px;
                      background: #e0f3ff;
                    }
                    > li {
                      > button {
                        width: 100%;
                        text-align: left;
                        padding: 4px 10px;
                        font-weight: 600;
                        font-size: 13px;
                        color: #444;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.header_layout {
  position: relative;
  background: #fff;
  height: 50px;
  border-bottom: 1px solid $blue04;
  box-sizing: border-box;
  .logo_box {
    position: relative;
    margin: 0 16px;
    .lnb_bar {
      position: absolute;
      top: 12px;
      left: -8px;
      width: 30px;
      height: 30px;
      line-height: 1;
      &:hover span {
        width: 12px;
        &:before {
          width: 10px;
        }
        &:after {
          width: 12px;
        }
      }
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -1px 0 0 -8px;
        width: 16px;
        height: 2px;
        background: $blue01;
        transition: 0.33s ease;
        &:before {
          content: '';
          position: absolute;
          top: -6px;
          left: 0;
          width: 100%;
          height: 100%;
          background: $blue01;
          transition: 0.33s ease;
        }
        &:after {
          content: '';
          position: absolute;
          top: 6px;
          left: 0;
          width: 100%;
          height: 100%;
          background: $blue01;
          transition: 0.33s ease;
        }
      }
    }
    h1 {
      margin: 0 0 0 50px;
      padding: 0;
      img {
        height: 36px;
        margin: 5px 0 0 0;
      }
    }
  }
  .info {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 12px;
    > ul {
      > li {
        float: left;
        margin: 0 0 0 12px;
        &:first-child {
          margin: 0;
        }
      }
    }
  }
}

.idx_layout {
  > div {
    height: 100%;
  }
  &.active {
    height: calc(100% - 145px);
    margin: -52px 16px 16px 16px;
  }
  height: calc(100% - 113px);
  background: #fff;
  box-shadow: 1px 2px 5px 0px #999;
  margin: 32px 16px 16px 16px;
  padding-bottom: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  //padding: 15px;
}
.footer_layout {
  height: 30px;
  background: #fff;
  border-top: 1px solid $blue04;
  box-sizing: border-box;
  text-align: center;
  line-height: 30px;
  font-size: 10px;
}

.nav_tab {
  height: 36px;
  background: #fff;
  > ul {
    overflow: hidden;
    > li {
      cursor: pointer;
      box-sizing: border-box;
      position: relative;
      float: left;
      border-right: 1px solid $blue04;
      font-size: 14px;
      padding: 0 32px 0 14px;
      height: 36px;
      line-height: 34px;
      &:after {
        content: '';
        position: absolute;
        right: 8px;
        top: 9px;
        width: 16px;
        height: 16px;
        background: url('#{$appPath}/icon/icon_close01.png') no-repeat;
        background-size: 16px auto;
      }
      &.active {
        background: $blue01;
        color: #fff;
        &:after {
          background: url('#{$appPath}/icon/icon_close01_active.png') no-repeat;
          background-size: 16px auto;
        }
      }
    }
  }
}

.nav_list {
  height: 100px;
  padding: 0 15px;
  background: $blue01;
  color: #fff;
  font-size: 13px;
  > ul {
    overflow: hidden;
    padding: 15px 0 0 0;
    > li {
      position: relative;
      float: left;
      margin: 0 0 0 24px;
      &:first-child {
        margin: 0;
        &:before {
          display: none;
        }
      }
      &:before {
        content: '';
        position: absolute;
        top: 4px;
        left: -12px;
        width: 1px;
        height: 6px;
        transform: rotate(-45deg);
        background: #fff;
      }
      &:after {
        content: '';
        position: absolute;
        top: 8px;
        left: -12px;
        width: 1px;
        height: 6px;
        transform: rotate(45deg);
        background: #fff;
      }
      &:last-child {
        position: relative;
        top: -4px;
        padding: 3px 5px;
        font-weight: 500;
        color: $yellow01;
        border: 1px solid $yellow01;
        border-radius: 4px;
        &:before {
          top: 8px;
        }
        &:after {
          top: 12px;
        }
      }
    }
  }
}
